$main-max-width: 760px;
$text-color: #222;
$indent: 1.5rem;
$indent-narrow: 0.4rem;
$margin-bottom-block: 1.8rem;
$margin-bottom-section: 2.4rem;
$left-line: solid 1px #bfbfbf;

html {
    font-size: 15px;
}

body {
    font-family: sans-serif;
    color: $text-color;
    line-height: 1.8;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

p {
    margin-top: 1.5rem;
    margin-bottom: $margin-bottom-block;
}

a {
    color: #1d4591;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

header {
    max-width: $main-max-width;
    margin: 0 auto $margin-bottom-section;

    #title {
        font-size: 1.2rem;
        font-family: monospace;
        margin-bottom: .1rem;
    }

    #title a {
        color: black;
        border: none;
        text-decoration: none;
    }

    nav a {
        color: black;
        font-size: .9rem;
        margin-right: 1.6rem;
    }

    nav a::before {
        content: "> ";
    }
}

main {
    max-width: $main-max-width;
    margin: 0 auto $margin-bottom-section;

    h1:first-child {
        margin-top: 0;
    }
}

footer {
    max-width: $main-max-width;
    margin: 0 auto;
}

h2 {
    margin-top: 2.5rem;
    border-bottom: solid 1px;
}

code {
    font-size: 0.9rem;
    font-family: "Roboto Mono", "Noto Mono", Consolas, Menlo, monospace;
    padding: .2rem .4rem;
    background-color: #fafafa;
}

pre {
    font-size: 0.9rem;
    line-height: 1.3;
    font-family: "Roboto Mono", "Noto Mono", Consolas, Menlo, monospace;
    padding-left: $indent;
    border-left: $left-line;
    margin-bottom: $margin-bottom-block;
}

ul {
    padding-left: $indent;
    margin-bottom: $margin-bottom-block;
}

ol {
    padding-left: $indent;
    margin-bottom: $margin-bottom-block;
}

blockquote {
    color: #444;
    margin-left: 0;
    margin-right: 0;
    padding-left: $indent;
    padding-right: $indent;
    border-left: $left-line;
    margin-bottom: $margin-bottom-block;
}

@media only screen and (max-width: 500px) {
    pre {
        font-size: 11px;
        padding-left: $indent-narrow;
    }

    blockquote {
        padding-left: $indent-narrow;
        padding-right: $indent-narrow;
    }
}

img, svg {
    display: block;
    margin: 0 auto 35px;
    max-width: 67%;
}

img {
    filter: drop-shadow(0 10px 10px #f8f8f8);
}

article {
    margin-bottom: $margin-bottom-section;

    p {
        margin: 0;
    }

    .title {
        font-size: 1.3rem;
        color: $text-color;

        &:hover {
            text-decoration: underline;
        }
    }
}

.tag {
    color: $text-color;
    text-decoration: underline;
}

.tag-count {
    margin-right: .7rem;
}
