$main-max-width: 760px;
$text-color: #111;
$indent: 1.3rem;
$left-line: solid 1px #bfbfbf;

body {
    font-family: sans-serif;
    color: $text-color;
}

a {
    color: $text-color;
}

header {
    height: 3rem;
}

main {
    max-width: $main-max-width;
    margin: 0 auto;
}

footer {
    margin-top: 2rem;
}

main h1:first-child {
    margin-top: 0;
}

h2 {
    margin-top: 2rem;
    border-bottom: solid 1px;
}

code {
    font-family: monospace;
    padding: .2rem .4rem;
    background-color: #fafafa;
}

pre {
    padding-left: $indent;
    border-left: $left-line;
}

ul {
    padding-left: $indent;
}

ol {
    padding-left: $indent;
}

blockquote {
    color: #444;
    margin-left: 0;
    padding-left: $indent;
    border-left: $left-line;
}

img {
    display: block;
    margin: 0 auto 35px;
    max-width: 67%;
    filter: drop-shadow(0 10px 10px #f8f8f8);
}

article {
    margin-bottom: 2rem;
}

article .title {
    font-size: 1.3rem;
    font-weight: bold;
    text-decoration: none;
}

article p {
    margin: 0;
}

.container {
    max-width: $main-max-width;
    margin: 0 auto;
}

.tag {
}

#title {
    font-size: 1.2rem;
    font-family: monospace;
}

#title a {
    text-decoration: none;
    color: black;
}
