<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% block title %} {% endblock %}
        <link rel="stylesheet" type="text/css" href="/style.css">
        <link rel="icon" type="image/png" href="/favicon-16x16.png">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block metadata %} {% endblock %}
    </head>
    <body>
        <header>
            <h1 id="title">
                <a href="/">println("bicycle1885's blog")</a>
            </h1>
            <nav>
                <a href="/">Home</a>
                <a href="/list">List</a>
                <a href="/tags">Tags</a>
            </nav>
        </header>
        <main>
            {% block content %} {% endblock %}
        </main>
        <footer>
            Kenta Sato / <a href="https://github.com/bicycle1885/">GitHub</a> / <a href="https://twitter.com/bicycle1885">Twitter</a> / <a href="https://github.com/bicycle1885/website">Repository</a>
        </footer>
    </body>
</html>
