<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>website</title>
        <link rel="stylesheet" type="text/css" href="/style.css">
    </head>
    <body>
        <header>
            <h1 id="title">
                <a href="/">println("bicycle1885's blog")</a>
            </h1>
        </header>
        <main>
            {% block content %} {% endblock %}
        </main>
        <footer>
            Kenta Sato / <a href="https://github.com/bicycle1885/">GitHub</a> / <a href="https://twitter.com/bicycle1885">Twitter</a>
        </footer>
    </body>
</html>
